VITE_BACKEND_URL=https://sunny-comfort-production.up.railway.app

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=petmat-8d651.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=petmat-8d651
VITE_FIREBASE_STORAGE_BUCKET=petmat-8d651.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
